.card .card-header button::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.card .card-header button {
    white-space: initial;
    text-align: left;
}

.filter-card .btn-outline-primary:not(:disabled):not(.disabled):active,
.filter-card .btn-outline-primary:not(:disabled):not(.disabled):hover {
    color: #007bff!important;
    background-color: transparent!important;
}